#main_background {
    width: 1080px;
    height: 720px;
    background-color: white;
    position: relative;
    margin: 0px auto;
}

div.q1 {
    font-family: wcl-02;
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
    background-color: darkblue;
    left: 0px;
    top: 0px;
    width: 20%;
}

h1 {
    color: white;
}

div.s2 {
    color: white;
    background-color: #9FABFF;
    width: 1152px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    float: left;
}

div.s3 {
    background-color: #FFCA19;
    position: absolute;
    height: 80%;
    left: 0px;
    top: 27.5%;
    width: 50%;
}

div.s4 {
    background-color: #FFC400;
    position: absolute;
    height: 80%;
    right: 0px;
    top: 27.5%;
    width: 50%;
    float: left;
}
